/*
    iris_aspect/css/iris_debug.css
    
    Generated from a sass file
    Used in development context
  
*/



.log{
    background-color: #86A;
    margin:0px 10px 0px 10px;
    padding:5px 10px 5px 10px;
    border-radius:5px;
}
.loginfo, .logdebug, .logpanic{
    color:#426; 
    margin:2px 15px 2px 15px; 
    padding:1px;
    font-size: .8em;
    border-radius:2px;
    text-align: left; 
}

.loginfo{background-color:#5298d4 }
.logdebug{background-color:#DFD}
.logpanic{background-color:red}

